<div class='container' style="background: white; height: 100vh; width: 100vw; max-width: 500px;">
  <div class="box">
    <div class="box-header" style="padding-left: 0.5rem; padding-right:0.5rem;">
      <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

      <div>
          <div align="center" style="color: #4D455D; font-size: 1.5rem; padding-top: 2rem; padding-bottom: 1rem;">
            <strong>有借有还 再借不难</strong>
          </div>

        <div class="row">
          <div class="col-6">
            <div class="card" style="
              background: #7DB9B6; border-color: #7DB9B6;
              text-align: right;
            ">
              <small><strong>I AM OWED</strong></small>
              <h1 style="padding-top: 0.5rem; text-align: right;">
                <strong>¥ 0.00</strong>
              </h1>
            </div>
          </div>
          <div class="col-6">
            <div class="card" style="
              text-align: right;
              background: #E96479; border-color: #E96479;
            ">
              <small><strong>I OWE</strong></small>
              <h1 style="padding-top: 0.5rem; text-align: right;">
                <strong>¥ 0.00</strong>
              </h1>
            </div>
          </div>
        </div>
        <hr style="border-color: #999999;">
        <h3 style="font-size: 1rem; color: #4D455D;">Ongoing Splits</h3>
        </div>
    </div>
    <div class="box-content" style="overflow-y: scroll;">
      <div style="margin-bottom: 88px;">
        <% @splits.each do |split| %>
          <%= link_to split_path(split) do %>
            <div class="card split-card"
            style="
            margin: 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            background: #f6f6fa; border-color: #f6f6fa;"
            >
              <%= split.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


<!--  <br>-->
</div>

<style>
  a {
    text-decoration: none;
  }

  h3 {
      font-weight: 700;
  }
  .card {
      padding: 1rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .card small {
      color: white;
      opacity: 0.75;
  }

  .card h1 {
      color: white;
  }

  .split-card {
      cursor: pointer;
      background: #f6f6fa; border-color: #f6f6fa;
  }

  .split-card:hover {
      color: white;
      background: #b6aacc !important;
  }

  .box {
      display: flex;
      flex-flow: column;
      height: 100%;
  }

  .box-header {
      flex: 0 1 auto;
  }

  .box-content {
      flex: 1 1 auto;
  }
</style>
