<h1>test from contact page</h1>
<%# TODO: Show all contacts
GET /contacts/:id (cath)
Show all splits shared with each contact
 %>



<% current_user.member.splits.each do |split| %>
  <% split.members.each do |member| %>

    <% if (member.given_nickname(current_user)).nil? %>
      <%= "Test" %>
    <<% else %>>
      <%= member.given_nickname(current_user) %>
    <% end %>
  <% end %>
<% end %>
