<h1>test from contact page</h1>
<%# TODO: Show all contacts
GET /contacts/:id (cath)
Show all splits shared with each contact
 %>

<%#
<div class="container">All My Contacts</div>

<ul>
  <% @users.joins(:contacts).each do |contact| %>
  <%# <li>

  </li>

  <li>
  </li>
</ul> %>


<%#
    <%= contact.nickname %>
    <%# <%= contact.member.phone_number %>


<% @splits.each do |split| %>

<% end %>
